<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="qc:admins" content="4562636714562571563145" />
    <title><%=title %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <div id="form">
      <form action="">
          <label for="username">
              用户名：
              <input type="text" name="username" placeholder="请填写用户名">
          </label><br />
          <label for="password">
                密码：
                <input type="password" name="password" placeholder="请填写用户名">
            </label>
            <input type="submit">
      </form>
    </div>
    <!-- <div id="content">

    </div> -->

    <div class="stars"></div>
    <script src="/js/manifest.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
