.toast {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 20px;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: inline-block;
  pointer-events: all;
  display: none;
}
.toast span {
  margin-right: 5px;
}
h1 {
  padding: 0;
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  background: #b2b2b2 url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1506389007&di=86845fe55f7a4a8f0cbe29fb022240fb&src=http://attach.bbs.miui.com/forum/201306/18/094519kcl7hc248f2nqu66.jpg) no-repeat top center;
  font-family: "Microsoft YaHei";
  background-size: cover;
}
#form {
  height: 600px;
  width: 500px;
  padding: 80px 60px 40px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 20px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #1b1732 url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1506312100050&di=0b00602144775a63307c7621a090a2f7&imgtype=jpg&src=http%3A%2F%2Fimg1.imgtn.bdimg.com%2Fit%2Fu%3D3995934025%2C2363754644%26fm%3D214%26gp%3D0.jpg) repeat top center;
}
#form:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(2, 20, 24, 0.6);
}
#form .formWrapper {
  position: relative;
  z-index: 2;
}
#form .formWrapper .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 36px;
}
#form .formWrapper form {
  padding-top: 20px;
}
#form .formWrapper form .ItemWrapper {
  height: 70px;
  margin-bottom: 35px;
}
#form .formWrapper form .ItemWrapper span {
  display: block;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 8px;
  color: #ddd;
}
#form .formWrapper form .ItemWrapper .inputWrapper {
  box-sizing: border-box;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  padding: 3px 15px;
}
#form .formWrapper form .ItemWrapper .inputWrapper input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #999;
  font-size: 16px;
}
#form .formWrapper form .btn {
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  margin-top: 30px;
  background: #1162ed;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
#form .formWrapper form hr {
  margin: 45px 0 15px;
}
#form .formWrapper form .links a:hover {
  color: #ccc;
}
#form .formWrapper form .login {
  float: right;
}
