html,
body {
  margin: 0;
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font: 14px/1.4 'Arial';
  font-family: "Microsoft YaHei";
  background: #000 url(http://7xpvnv.com2.z0.glb.qiniucdn.com/ba25c630-1c91-4ac1-a3de-65555d78c147.png) repeat top center;
}
a {
  text-decoration: none;
  color: #fff;
}
#header {
  height: 40px;
  font-size: 12px;
}
#header a {
  display: block;
  font-size: 16px;
  margin-top: 6px;
}
#header .user-area {
  padding-right: 16px;
  float: right;
}
#header .user-area li {
  float: left;
  margin-left: 5px;
}
#header .user-area li span {
  color: #fff;
  display: block;
  margin-top: 6px;
  font-size: 16px;
}
#header .user-area img {
  height: 25px;
  margin-top: 5px;
  border-radius: 50%;
}
#header .setting {
  float: right;
  margin-left: 9px;
  display: none;
}
#header .add-note {
  float: left;
  margin-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 2px 4px;
}
#header .login {
  float: right;
  margin-left: 16px;
}
#content {
  position: relative;
  height: calc(70%);
  width: 86%;
  margin: 0 auto;
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.stars {
  background: #000 url(http://7xpvnv.com2.z0.glb.qiniucdn.com/ba25c630-1c91-4ac1-a3de-65555d78c147.png) repeat top center;
  z-index: -2;
}
.twinkling {
  background: transparent url(http://7xpvnv.com2.z0.glb.qiniucdn.com/493b97e6-c499-4b41-a26b-8942873615b0.png) repeat top center;
  z-index: -1;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
.nologin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
.nologin a {
  color: #ccc;
}
.toast {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 20px;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: inline-block;
  pointer-events: all;
  display: none;
}
.toast span {
  margin-right: 5px;
}
.note {
  position: absolute;
  color: #333;
  width: 200px;
  margin: 20px 10px;
  transition: all 0.5s;
}
.note:hover {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.note .note-head {
  height: 30px;
  background-color: #ea9b35;
  cursor: move;
  /*&:before{
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -32px;
      content: ' ';
      display: block;
      width: 64px;
      height: 18px;
      background: #35bba3;
    }*/
  /*&:after {
      position: absolute;
      left: 50%;
      margin-left: 32px;
      top: -11px;
      z-index: -1;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid #299683;
      border-top: 18px solid transparent;
    }*/
}
.note .note-head:hover .delete {
  opacity: 1;
}
.note .note-head .username {
  display: inline-block;
  max-width: 160px;
  color: #eee;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.note .note-head .username:before {
  content: '\7559\8A00\4EBA\FF1A';
}
.note .note-ct {
  padding: 10px;
  background-color: #efb04e;
  outline: none;
}
.note .note-ct.one:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #efb04e, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #efb04e, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.note .note-ct.two:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #e672a2, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #e672a2, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.note .note-ct.three:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f2eb67, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f2eb67, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.note .note-ct.four:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #d15a39, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #d15a39, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.note .note-ct.five:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #d0d25c, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #d0d25c, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.note .note-ct.six:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #5591d2, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #5591d2, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.note .note-time {
  text-align: right;
  padding-right: 10px;
  color: #eee;
}
.note .delete {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;
}
.draggable {
  opacity: 0.8;
  cursor: move;
  transition: none;
}
